  /* Use a media query to add a breakpoint at 440px: */
  @media screen and (max-width: 440px) {

    .nav {
        height: 65px;
        width: 100%;
        position: relative;
        top: 0;
        background-color: blueviolet;
        z-index: 10;
        margin-left: 0;
        transform: translateX(0);
        left: 0;
    }

    .page {
        position: relative;
        z-index: 9;
    }

    #page1 {
        height: 75%;
        margin-top: -65px;
    }

    #page1 h2 {
        font-size: 19px;
        display: block;
    }

    .welcome-top {
        margin-top: 140px;
        display: block;
    }

    .welcome-bottom {
        margin-top: 45px;
        display: block;
    }

    #page2 {
        height: 80%;
    }

    #page4 {
        height: 100%;
        margin-bottom: 1000px;
    }

    .details {
        overflow: auto;
    }

    #page-product {
        height: 500px;
        position: relative;
        z-index: 9;
    }

    #page-detail {
        height: 500px;
        position: relative;
        z-index: 9;
    }

    .detail-terasi {
        height: 640px !important;
    }

    .detail-cabe {
        height: 490px !important;
    }

    .detail-petis {
        height: 1060px !important;
    }

    .detail-wayang {
        height: 1040px !important;
    }

    .youtube-player {
        width: 152% !important;
        height: 50% !important;
    }

    .footer {
        position: fixed;
        z-index: 8;
    }

}