/* Use a media query to add a breakpoint at 555px: */
@media screen and (max-width: 555px) {

    html {
        overflow-x: hidden;
    }
    
    .nav {
        height: 65px;
        width: 100%;
        position: relative;
        top: 0;
        background-color: blueviolet;
        z-index: 10;
        margin-left: 0;
        transform: translateX(0);
        left: 0;
    }

    .nav-center {
        text-align: center;
        margin-left: 0;
        transform: translateX(0);
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    .nav-menu-sub {
        display: none;
    }

    .billboard {
        background-image: url("../i/soj-banner-sqr.jpg");
        background-size: 90%;
        background-position: center top;
        background-repeat: no-repeat;
    }

    .footer {
        z-index: 8;
    }

    .page {
        width: 100%;
        z-index: 9;
        position: relative;
    }

    #page-product {
        z-index: 9;
        position: relative;
    }

    #page-detail {
        z-index: 9;
        position: relative;
    }

    #page1 {
        height: 115%;
    }

    .page-1-container {
        height: 70%;
    }

    #page1 h2 {
        font-size: 19px;
        display: none;
    }

    .welcome-top {
        margin-top: 140px;
        display: block;
    }

    .welcome-bottom {
        margin-top: 45px;
        display: block;
    }

    #page2 {
        height: 100%;
    }

    .carousel-container {
        width: 93%;
        margin-top: 14%;
    }

    .carousel-inner {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 72%;
    }

    .carousel-bt-left {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 15%;
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        background-color: rgba(0,0,0,0);
        filter: alpha(opacity=50);
        opacity: .5;
    }
    
    .carousel-bt-right {
        position: absolute;
        top: 0;
        bottom: 0;
        left: auto;
        right: 0;
        width: 15%;
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        background-color: rgba(0,0,0,0);
        filter: alpha(opacity=50);
        opacity: .5;
    }

    .arrow-left {
        width: 50%;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 220%;
    }
    
    .arrow-right {
        width: 50%;
        margin-left: 50%;
        transform: translateX(-50%) rotate(180deg);
        margin-top: 220%;
    }

    .page-80div3 {
        float: left;
        width: calc((100% / 2) - 4%);
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 4%;
    }

    #page4 {
        height: 685px;
        margin-bottom: 1000px;
    }

    .last-page {
        margin-bottom: 1000px;
    }

    .special img {
        width: 100%;
    }

    .footer {
        position: fixed;
        z-index: 8;
        background-color: blueviolet;
        width: 100%;
        height: 700px;
        line-height: 0;
        margin-left: 0%;
        transform: translateX(0%);
        bottom: 0;
    }

    .footer .page-20, .footer .page-60 {
        width: 100%;
    }

    .footer .page-20 {
        height: 45%;
        padding-left: 0;
    }

    .footer .page-60 {
        height: 31%;
    }

    .align-lefted {
        float: left;
    }

    .socmed {
        height: 10% !important;
        width: 48% !important;
        padding-right: 0 !important;
    }

    .socmed h3 {
        padding-top: 22px;
        line-height: 0.5;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .socmed .page-20 {
        width: calc((100% / 2) - 2%) !important;
        height: 100% !important;
    }

    .socmed img {
        width: 50%;
    }

    .team-container h3, .team-container h4 {
        line-height: 1;
    }

    .youtube-player {
        width: 450;
        height: 275px;
    }
  }